.swiper-pagination > span {
  background-color: white !important;
}

.swiper-wrapper {
  height: 350px !important;
}

.swiper-pagination {
  position: absolute !important;
  bottom: 0 !important;
}

@media screen and (min-width: 500px) {
  .swiper-wrapper {
    height: 330px !important;
  }
}
