.articles {
  padding: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  .title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 500px) {
  .articles {
    padding: 30px 15px !important;
  }
}
